html, body{
  min-height: 100vh;
  font-family: "Cabin", sans-serif;
}

.App {
  text-align: center; 
  min-height: 100vh;
  min-width: 60vw;
  color: #000;
  justify-content: center;
  align-items: center;
  font-family: "Cabin", sans-serif;
  font-weight: 400;
  letter-spacing: 0.05rem;
}

#App_row{
  min-height: 90vh;
}

.clock_img{
  border: #000 solid 5px;
  height: 400px !important;
  width: 400px !important;
  box-shadow: 2px;
  background-color: white; 
  padding: 10px;
}

.small_font{
  font-size: 10px;
}

.clockInput{
  max-width: 50% !important;
}

.button_2{
  min-width: 140px;
}

.button_3{
  min-width: 90px;
}

#header_picture{
  width: 500px;
}

#svg_render{
  width: '250px' !important;
  height: '250px' !important;
}

@media only screen and (max-width: 1200px) {
  /* .button_3{
    width: 80px;
  } */
}

/* media md */
@media only screen and (max-width: 992px) {
  /* .button_3{
    width: 90px;
  } */
}

@media only screen and (max-width: 767px) {
  .visual{
    height: 50vw;
  }
}

@media screen and (max-width: 650px) {

  #header_picture{
    width: 300px;
  }

  .home_container{
    width: 100%;
    font-size: 4vw;
  }

  #svg_render{
    width: '250px';
    height: '250px'
  }

  .small_font{
    font-size: 2vw;
  }

  .text_left{
    text-align: center;
  }

  .clockInput{
    max-width: 90% !important;
  }

  .about_graphic{
    max-width: 80vw;
    /* margin-left: -10vw; */
  }

  .home_title{
    font-size: 1.5rem;
    /* white-space: normal; */
  }

} 



